#! /bin/sh -e

mbsplaturl='{{ mbs_platform_url }}'

echo "Getting: $mbsplaturl"

case "$1" in
  download)
  rm -f "$(basename $mbsplaturl)"
  curl -O $mbsplaturl
  echo "Run: /usr/bin/mbs-manager import_module $(basename $mbsplaturl)"
  ;;

  install)
  tmp_dir=$(mktemp -d -t mbsi-XXXXXXXXXX)
  cd $tmp_dir
  curl -O $mbsplaturl
  /usr/bin/mbs-manager import_module $(basename $mbsplaturl)
  rm -rf $tmp_dir
  ;;

  *)
  echo "$0: download | install"
  ;;
esac

